<nav class=" w-full bg-blue-600 h-24 flex justify-between p-5 lg:px-10 item-center leading-[55px]">
  <div>
    <%= link_to "NAV", root_path %>
  </div>
  <div>
    <div>
      <%= link_to "Home", root_path %>
      <%= link_to "Contact", root_path %>
      <%= link_to "About", root_path %>
      <%= link_to "fAQ", root_path %>
    </div>
  </div>
</nav>



