<div id="user_profile" class="w-[60%] p-5 mx-auto flex relative rounded-md border-2 items-center">
    <div class="w-[150px] flex items-center h-[150px] mr-3 border-2 border-blue-400 rounded-full">
        <%= image_tag "use.svg",  alt:user.name, class: "w-2/3 h-1/2 m-auto" %>
    </div>
    <div class="w-50% text-gray-600">
        <h3 class="text-xl mb-2"><%=user.name%></h3>
        <h5 class="mb-2"><%=user.profile_title%></h5>
        <p class="mb-2"><%=user.email%></p>
        <p class="text-blue-400"><%=user.location%></p>
    </div>
    <%if user.id == current_user.id %>
      <div class="absolute right-[15px] top-[15px] text-blue-400">
          <%= link_to edit_user_profile_path, data:{controller:"user-detail"}, class: "mr-3 text-blue-500" do %>
            <%=icon('fa-solid', 'pen-to-square')%>
          <%end%>
      </div>
    <%else%>
       <%if connected_status(user) == "pending"%>
         <button> pending </button>
        <%elsif connected_status(user) == "accepted" %>
          <button> accepted </button>
        <%else%>
         <%= link_to "connect", connections_path(user_id: @user.id), data: {turbo_method: :post} %>
       <%end%>
    <%end%>
</div>